.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Base component style */
.base {
  width: 90%;
  height: 90%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.base h1 {
  color: white;
}